@font-face {
    font-family: "Akkurat-Regular";
    src:url("../font/akkurat/lineto-akkurat-regular.eot");
    src:url("../font/akkurat/lineto-akkurat-regular.eot?#iefix") format("embedded-opentype"),
        url("../font/akkurat/lineto-akkurat-regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

* {
	box-sizing: border-box;
	font-family: 'Akkurat-Regular', sans-serif;
}

html {
	font-size: 16px;
}

body {
	padding: 0 20px;
	min-width: 300px;
    background-image:url("pattern.png");
	color: #ffffff;
	text-align: center;
	word-wrap: break-word;
}

.site-header {
	margin: 0 auto;
	padding: 80px 0 0;
	max-width: 820px;
}
.site-header__title {
	margin: 0;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1.1;
	text-transform: uppercase;
    text-shadow: 4px 1px 23px #000000
}

.flash {
    margin-top: 100px;
    font-weight: 700;
	font-size: 2rem;
	text-transform: uppercase;
    text-shadow: 4px 1px 23px #000000
}

.main-content {
	margin: 0 auto;
	max-width: 820px;
}
.main-content__checkmark {
	font-size: 4.0625rem;
	line-height: 1;
	color: #24b663;
}
.main-content__body {
	margin: 20px 0 0;
	font-size: 1rem;
	line-height: 1.4;
}

.Btn {
    width: 130px;
    height: 40px;
	margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border: none;
    color: rgb(0, 0, 0);
    font-weight: 600;
    gap: 8px;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
}
  
.Btn::before {
    width: 130px;
    height: 130px;
    position: absolute;
    content: "";
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    left: -100%;
    top: 0;
    transition-duration: .3s;
    mix-blend-mode: difference;
}
  
.Btn:hover::before {
    transition-duration: .3s;
    transform: translate(100%,-50%);
    border-radius: 0;
}
  
.Btn:active {
    transform: translate(5px,5px);
    transition-duration: .3s;
}

a{
	text-decoration: none;
}

@media only screen and (min-width: 40em) {
	.site-header {
		padding-top: 150px;
	}
	.site-header__title {
		font-size: 6.25rem;
	}
	.main-content__checkmark {
		font-size: 9.75rem;
	}
	.main-content__body {
		font-size: 1.25rem;
	}
	.site-footer {
		padding: 145px 0 25px;
	}
	.site-footer__fineprint {
		font-size: 1.125rem;
	}
}