<!DOCTYPE html>
<html lang="en">

<head>
    <title>Productos - Lista</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <nav>
        <section class="flex_content">
            <a class="link" href="/"><strong class="logo"><em class="stroke">Cla</em>udiu<em>.</em></a></strong>
            <a href="/products/create">Registro Productos</a>
            <a href="/products/list">Lista Productos</a>
        </section>
    </nav>

    <footer>
        <div class="footercaja">
            <div class="infoprojecte">
                <p>Desarrollaremos un proyecto web con el
                    framework Flask</p>
            </div>
            <div class="infocaja">
                <hr>
                <div class="infocajaposi">
                    <p><a href="/contacte">Contacte</a></p>
                    <p><a href="#">Avis Legal</a></p>
                    <p><a href="#">Política de privacidad</a>
                    <p><a href="#">Política de cookies</a></p>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>