<!DOCTYPE html>
<html lang="en">

<head>
    <title>Productos - Ver</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <nav>
        <section class="flex_content">
            <a class="link" href="/"><strong class="logo"><em class="stroke">Cla</em>udiu<em>.</em></a></strong>
            <a href="/products/create">Registro Productos</a>
            <a href="/products/list">Lista Productos</a>
        </section>
    </nav>
    
    <div class="container">
        <h1>Detalles del Producto</h1>
        <table class="table">
            <tr>
                <th>Título</th>
                <th>Descripción</th>
                <th>Foto</th>
                <th>Precio</th>
            </tr>
            <tr>
                <td>{{ product[0] }}</td>
                <td>{{ product[1] }}</td>
                <td><img src="{{ url_for('main_bp.uploaded_file', filename=product[2]) }}" width="100"></td>
                <td>{{ product[3] }}</td>
            </tr>
        </table>
    </div>
    <footer>
        <div class="footercaja">
            <div class="infoprojecte">
                <p>Desarrollaremos un proyecto web con el
                    framework Flask</p>
            </div>
            <div class="infocaja">
                <hr>
                <div class="infocajaposi">
                    <p><a href="/contacto">Contacto</a></p>
                    <p><a href="#">Aviso Legal</a></p>
                    <p><a href="#">Política de Privacidad</a></p>
                    <p><a href="#">Política de Cookies</a></p>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
